.home-container {
    padding: 20px;
    text-align: center;
    background-color: rgb(141, 236, 129);
    width: 60%;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 20px;
  }
  
  .home-container h1 {
    color: #333;
  }
  
  .home-container h2 {
    color: #555;
  }
  
  .home-container p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
  }
  
  .features {
    margin: 20px 0;
  }
  
  .features h3 {
    color: #333;
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
    width: 30%;
  }
  
  .features li {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
  }
  
  .data {
    margin: 20px 0;
  }
  
  .data h3 {
    color: #333;
  }
  
  .data p {
    font-size: 16px;
    color: #666;
  }